<html ng-app="myModule">

<head>
  <meta charset="utf-8">
  <title>컨트롤러간 데이터 교환</title>

  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
  <!--
  이 태그는 당연하게도 앵귤러js를 로드하고, 더불어 HTML페이지가 모두 로드된 후에
  브라우저에 의해 실행되는 콜백을 등록한다.
-->

<script type="text/javascript" charset="utf-8">
var myModule = angular.module('myModule', []);

/*
이 방법도 꽤 직관적이다.
부모쪽에서 broadcast로 이벤트를 날리면 자식쪽에서 on으로 듣고 있다가 받아서 적용한다.
자식도 emit으로 이벤트를 날리면 부모도 on으로 듣고 있다가 반영한다.
그렇게 복잡하지 않고 서비스를 특별히 만들 필요가 없기 때문에 사용하기에는 더 편리해 보인다.
*/
function ControllerZero($scope) {
    $scope.handleClick = function(msg) {
        $scope.$broadcast('handleChild', {message : msg});
    };

    $scope.$on('updateParent', function(event, args) {
        $scope.message = 'ZERO: ' + args.message;
    });
}

function ControllerOne($scope) {
    $scope.$on('handleChild', function(event, args) {
        $scope.message2 = 'ONE: ' + args.message;
    });

    $scope.handleClick = function() {
        $scope.$emit('updateParent', {message: $scope.message2});
    };

}

ControllerZero.$inject = ['$scope'];
ControllerOne.$inject = ['$scope'];

</script>

</head>
<body>
  <div ng-controller="ControllerZero">
    <input ng-model="message">
    <button ng-click="handleClick(message);">LOG</button>

    <div ng-controller="ControllerOne">
      <input ng-model="message2" >
      <button ng-click="handleClick();">LOG 2</button>
    </div>
  </div>
</body>
</html>
