<html>
<head>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script></script>
  <script type="text/javascript" src="controller/appController.js"></script>
  <script type="text/javascript" src="service/nametrickFactory.js"></script>
  <script type="text/javascript" src="service/nametrickService.js"></script>
</head>
<body>
  <div ng-app="myApp" ng-controller="AppCtrl">
    <h1>Hello, {{name}}</h1>
    <div>
      <label for="name">My Name is</label>
      <input name="name" ng-model="name" type="text"/>
    </div>

  </div>
  <br/>
  <button ng-click="reverseNameService()">Reverse Name via Service</button>
  <button ng-click="reverseNameFactory()">Reverse Name via Factory</button>
</body>
</html>
